body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4; /* Колір для випадків, коли анімація не працює */
}

/* .animated-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #252055, #040421, #151556);
    background-size: 200% 200%; 
    animation: diagonal-gradient 40s ease infinite alternate;
    z-index: -1;
}

@keyframes diagonal-gradient {
    0% {
        background-position: 0% 0%; 
    }
    100% {
        background-position: 100% 100%; 
    }
} */

.registration-container {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.9); /* Білий напівпрозорий фон для форми */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-size: 0.9em;
}

input[type="username"],
input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
}

button {
    background-color: #5c6bc0;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3f51b5;
}

.error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}